*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0aa6, #3a3a3a);
}
.calculator{
    border: 2px solid #3a3a3ac6;
    padding: 20px;
    border-radius:16px;
    background: transparent;
    box-shadow: 0px 5px 13px rgba(111, 113, 115, 0.434);
}
input{
    width: 320px;
    border: none;
    margin: 10px;
    background: transparent;
    color: #f2e2e2;
    box-shadow: 0px 5px 13px rgba(255, 255, 255, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.equal{
    background: rgba(218, 159, 48, 0.881);
}
.plus{
    color: #fe4318;
    background-color: #ffffff8a;
}
.minus{
    color:rgb(179, 39, 179) ;
    background-color: #ffffff8a;
}
.mul{
    color: rgb(192, 93, 126);
    background-color: #ffffff8a;
}
.div{
    color: coral;
    background-color: #ffffff80;
}
.on{
    color: orangered;
    background-color: #ffffff8a;
}
.del{
    color: firebrick;
    background-color: #ffffff8a;
}
.per{
    color: blueviolet;
    background-color: #ffffff81;
}